.carousel-inner img {
    width: 100%;
    max-height: 560px;
}
.carousel-inner{
    height: 500px;
}

body {
    font-family: 'Poiret One',  cursive;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', cursive;
}

/***** CARRITO DE COMPRAS *****/

.table-cart {
    background: #ffffff;
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 1em;
}

.table-cart img {
    width: 50px;
}
